streamlit==1.45.1
langchain-chroma==0.2.4
langchain-huggingface==0.2.0
google-generativeai==0.8.5
sentence-transformers==4.1.0
langchain==0.3.25
langdetect==1.0.9
beautifulsoup4==4.13.4
PyMuPDF==1.26.0
pysqlite3-binary
chromadb==1.0.12
torch==2.5.0
numpy==1.26.4